<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/companies"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP6">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BaseUserActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.RequestAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FormUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FormCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ManageCompaniesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashCompanyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>